{% extends 'tasks/layout.html' %}
{% block title %}
    Editar Tarea
{% endblock title %}

{% block body %}
<!-- <div class="overlay"></div> -->
 <div class="custom-body">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1>To Do List</h1>
                <form action="" class="d-grid gap-2" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="tarea" placeholder="Tarea" value="{{tarea.tarea}}">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </form>

                <div class="row">
                    <ul class="col-12">
                                              
                        {% for tarea_id, tarea in tareas.items %}
                            <li class="d-flex justify-content-between align-items-center flex-wrap">
                                <span class="task-text">{{tarea.tarea}}</span>
                                <div class="container-botones">
                                    <a href="{% url 'editar' tarea_id %}" class="btn btn-sm btn-primary" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" >Editar</a>
                                    
                                    <a href="{% url 'eliminar' tarea_id %}" class="btn btn-sm btn-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" >Eliminar</a>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>



                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock body %}
    
    